#resume {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 0.5fr 0.3fr 1fr 0.8fr 0.3fr;
  gap: 1rem;
  height: 50rem;
  margin: 2rem;
  min-width: 200px;
  max-width: 45rem;
}

.personalInformation {
  padding-top: 1rem;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.personalInformation > div:first-child {
  grid-column: 1/4;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.education,
.experience > div:first-child {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}

.education > div:first-child,
.experience {
  padding-left: 3rem;
}

.education > div:last-child,
.experience {
  padding-right: 3rem;
}

.education > div:first-child > div:last-child,
.education > div:last-child > div:last-child {
  font-style: italic;
}

.experience {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  gap: 0.4rem;
}
